main .container {
  max-width: calc(100% - 240px);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
}

.container .top-links-wrapper {
  max-width: 100%;
  position: relative;
}
.container .top-links {
  max-width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  list-style: none;
  column-gap: 0.7rem;
  overflow: scroll;
  max-height: 29px;
  height: 100%;
}

.container .top-links::-webkit-scrollbar {
  display: none;
}

.container .top-links-wrapper .gradient {
  position: absolute;
  /* background-color: red; */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 15, 15, 1) 28%,
    rgba(15, 15, 15, 1) 100%
  ); /* Adjusted to black gradient */
  color: rgba(255, 255, 255, 0.3);
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  padding-inline-end: 20px;
  /* border-radius: 0; */
}
.container .top-links li {
  color: rgba(var(--nav-text-color-rgb), 100%);
  background-color: rgba(var(--nav-text-color-rgb), 10%);
  padding: 0.3rem 0.7rem;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.container .top-links li:not(.gradient):hover {
  background-color: rgba(var(--nav-text-color-rgb), 30%);
}
